<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="12345"/>
    <add key="ImagePath" value="12345"/>
    <add key="Appserver" value="localhost/appserver/service.asmx"/>
    <add key="APIUsername" value="waleed"/>
    <add key="APIPassword" value="54321"/>
    <add key="Datasource" value="OBTEST"/>
    <add key="ScriptDocType" value="PH - Scripts"/>
    <add key="AllowedADGroup" value="MANAGER"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>